body {
    font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.header {
    display: flex;
}

.logo {
    display: grid;
    grid-template-columns: 25px 25px;
    direction: ltr;
}

.chest {
    width: 25px;
    height: 25px;
    padding: 0;
}

.header > img {
    height: 50px;
}

.logo,
.header > img {
    align-self: end;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.header-text h1 {
    margin: 0;
}

.subtitle {
    font-style: italic;
    font-weight: normal;
    font-size: small;
}

a {
    color: inherit;
}

a:hover,
.favicon {
    text-decoration: none;
}

table {
    margin: 8px;
}

tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

table,
table th,
table td {
    border: 1px solid black;
    border-spacing: 0;
    text-align: center;
    border-collapse: collapse;
}

table th,
table td {
    padding: 4px;
}

.favicon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.favicon {
    width: 16px;
    height: 16px;
}

@media (min-width: 768px) {
    table th,
    table td {
        padding: 8px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    tbody > tr:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    table,
    table th,
    table td {
        border-color: white;
    }
}

@media (pointer: coarse) {
    .favicon-container > .favicon {
        background-color: white;
        border: 1px solid black;
        border-radius: 8px;
        padding: 8px;
    }

    .favicon-container > .favicon:hover {
        background-color: black;
        color: white;
    }
}

@media (pointer: coarse) and (prefers-color-scheme: dark) {
    .favicon-container > .favicon {
        background-color: black;
        border-color: white;
    }

    .favicon-container > .favicon:hover {
        background-color: white;
        color: black;
    }
}
